src/main/resources/META-INF/mule-twitter.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/twitter" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
    targetNamespace="http://www.mulesoft.org/schema/mule/twitter" elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc" schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd" />


    <!-- Config -->

    <xsd:element name="config" substitutionGroup="mule:abstract-extension">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="mule:abstractExtensionType">
                    <xsd:attribute name="name" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                Identifies the cloud connector so that it can be referenced
                                from elements if required.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="format">
                        <xsd:annotation>
                            <xsd:documentation>
                                Specifies the type of response message. Note that not all
                                elements support all formats.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="JSON" />
                                <xsd:enumeration value="XML" />
                                <xsd:enumeration value="ATOM" />
                                <xsd:enumeration value="RSS" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attributeGroup ref="oauthConsumerAttributes" />                   
                    <xsd:attributeGroup ref="oauthUserAttributes" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- Timeline -->

    <xsd:element name="public-timeline" type="baseTwitterOperation" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Returns the 20 most recent statuses from non-protected users who have set a
                custom user icon. The public timeline is cached for 60 seconds so requesting it more often
                than that is a waste of resources.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="friends-timeline" type="baseAuthenticatedTwitterOperationNoConsumer" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Returns the most recent statuses posted by the authenticating user and that
                user's friends. This is the equivalent of /timeline/home on the Web.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="user-timeline" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Returns the 20 most recent statuses posted from the authenticating user. It's
                also possible to request another user's timeline via the id parameter. This is the equivalent
                of the Web user page for your own user, or the profile page for a third party.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="baseAuthenticatedTwitterTimelineOperation">
                    <xsd:attribute name="userId">
                        <xsd:annotation>
                            <xsd:documentation>
                                Specifies the ID of the user for whom to return the
                                user_timeline.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="screenName">
                        <xsd:annotation>
                            <xsd:documentation>
                                Specifies the screen name of the user for whom to return the
                                user_timeline.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="mentions" type="baseAuthenticatedTwitterTimelineOperation" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Returns the most recent mentions (status containing @username) for the
                authenticating user.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <!-- Search -->

    <xsd:element name="search" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Returns tweets that match a specified query.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="baseAuthenticatedTwitterOperationNoConsumer">
                    <xsd:attribute name="query" type="xsd:string" use="required" />
                    <xsd:attribute name="lang" />
                    <xsd:attribute name="locale" />
                    <xsd:attribute name="rpp" />
                    <xsd:attribute name="page" />
                    <xsd:attribute name="geocode" />
                    <xsd:attribute name="showUser" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <!-- User -->

    <xsd:element name="user" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Returns extended information of a given user, specified by ID or screen name as
                per the required id parameter. The author's most recent status will be returned inline.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="baseAuthenticatedTwitterOperationNoConsumer">
                    <xsd:attribute name="screenName" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- Status  -->

    <xsd:element name="update-status" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Updates the authenticating user's status.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="baseAuthenticatedTwitterOperationNoConsumer">
                    <xsd:attribute name="status" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="show-status" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Returns a single status, specified by the id parameter
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="baseAuthenticatedTwitterOperationNoConsumer">
                    <xsd:attribute name="statusId" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!--
    <xsd:element name="destroy-status" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Destroys the status specified by the required ID parameter.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="baseAuthenticatedTwitterOperationNoConsumer">
                    <xsd:attribute name="statusId" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    -->

    <!-- Common and base types -->

    <xsd:complexType name="baseTwitterOperation">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="config-ref" type="xsd:string" use="optional" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="baseAuthenticatedTwitterOperationNoConsumer">
        <xsd:complexContent>
            <xsd:extension base="baseTwitterOperation">
                <xsd:attributeGroup ref="oauthUserAttributes" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="baseAuthenticatedTwitterOperation">
        <xsd:complexContent>
            <xsd:extension base="baseTwitterOperation">
                <xsd:attributeGroup ref="oauthUserAttributes" />
                <xsd:attributeGroup ref="oauthConsumerAttributes" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="baseAuthenticatedTwitterTimelineOperation">
        <xsd:complexContent>
            <xsd:extension base="baseAuthenticatedTwitterOperationNoConsumer">
                <xsd:attributeGroup ref="commonTimelineAttributes" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="commonTimelineAttributes">
        <xsd:attribute name="count">
            <xsd:annotation>
                <xsd:documentation>
                    Specifies the number of statuses to retrieve. May not be greater
                    than 200.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:positiveInteger">
                    <xsd:maxInclusive value="200" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="sinceId" type="xsd:positiveInteger">
            <xsd:annotation>
                <xsd:documentation>
                    Returns only statuses with an ID greater than (that is,
                    more recent than)
                    the specified
                    ID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxId" type="xsd:positiveInteger">
            <xsd:annotation>
                <xsd:documentation>
                    Returns only statuses with an ID less than (that is, older than) or equal
                    to the specified ID
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="page" type="xsd:positiveInteger">
            <xsd:annotation>
                <xsd:documentation>
                    Specifies the page of results to retrieve.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="oauthUserAttributes">
        <xsd:attribute name="oauthToken" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    Specifies oauth token key. This is specific to the user.
                    Alternatively individual operation elements can provide 
                    authentication configuration.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="oauthTokenSecret" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    Specifies oauth token secret. This is specific to the user.
                    Alternatively, individual operation elements can provide 
                    authentication configuration.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="oauthConsumerAttributes">
	<xsd:attribute name="consumerKey" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				Specifies consumer token. This is specific to the application.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="consumerSecret" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				Specifies consumer token secret. This is specific to the application.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:attributeGroup>
</xsd:schema>    
  